plugins {
  id 'nf-schema@2.6.0'
}
//***************************************** Global parameters *******************************************//
params {
    dp_tools_plugin = null
    api_url = "https://visualization.osdr.nasa.gov/biodata/api/v2/dataset/*/"
    
    assay_suffix  = "_GLAmpSeq"
    output_prefix = ""

    outdir = "${launchDir}"
    
    // Mandatory parameters 
    target_region = "16S" // "16S", "18S", "ITS"
    trim_primers  = true
    

    // Input options
    // Mandatory parameters if using GLDS or OSD accession as input
    accession = null
    // -------- Required only if --accession is false ---------------//
    // A 4-column (single-end) or 5-column (paired-end) input csv file with the following headers ( sample_id, forward, [reverse,] paired, groups)
    input_file = null 

    isa_archive = null // If a runsheet is not supplied, ISA.zip will be pulled from OSDR unless this is supplied
    specify_runsheet = null // Specify a runsheet by name when multiple runsheets match the same target region

    // Debugging input options
    limit_samples_to            = null // Limit the number of samples to process
    force_single_end            = null // Force single-end mode by specifying which read to use (Set to either "R1" or "R2")

    // Cutadapt parameters
    min_cutadapt_len    = 130
    primers_linked      = true
    discard_untrimmed   = true
    anchored_primers    = true
    F_primer            = null
    R_primer            = null


    // Dada2 parameters
    left_trunc     = 0
    right_trunc    = 0
    left_maxEE     = 1
    right_maxEE    = 1
    concatenate_reads_only = false


    // Minimum desired sample rarefaction depth for diversity analysis
    rarefaction_depth  = 500


    // -------- Differential abundance parameters ----- //
    diff_abund_method  = "all" // ["all", "ancombc1", "ancombc2", or "deseq2"] - it runs all three by default
    group              = "groups"  // column in input csv file to be compared
    samples_column     = "sample_id" // column in input csv file containing sample names
    remove_struc_zeros = false // should structural zeros be removed when running ANCOMBC?
    // Should rare features and samples be discarded. Values are true or false. If set to true then set the cutoffs below
    remove_rare        = false
    prevalence_cutoff  = 0  // a fraction between 0 and 1 that represents the prevalance in percentage of taxa to be retained
    library_cutoff     = 0 // Samples with library sizes less than this number will be excluded in the analysis

    database_store_path = "./Reference_DBs" //Dictates where the reference databases will be stored

    publish_dir_mode = "link" // "link", "copy

    // Multiqc
    multiqc_config = "${projectDir}/config/multiqc.config"


    // If using conda environments specify their locations so new ones won't be created
    // Specify the paths to existing conda environments (/path/to/envs/cutadapt)
    // leave as is if you want to create a new conda environment
    conda_cutadapt         = null     // /path/to/envs/cutadapt
    conda_diversity        = null     // /path/to/envs/R_diversity
    conda_dp_tools         = null     // /path/to/envs/dp_tools
    conda_fastqc           = null     // /path/to/envs/fastqc
    conda_multiqc          = null     // /path/to/envs/multiqc
    conda_R                = null     // /path/to/envs/R
    conda_zip              = null     // /path/to/envs/zip
    conda_wget             = null     // /path/to/envs/wget
 
    errorStrategy  = "terminate"
    debug          = false // set to true if you'd like to see the values of your set parameters
}

// Workflow output settings
outputDir = params.outdir
workflow.output.mode = params.publish_dir_mode

// Help message
validation {
  help {
    enabled = true
  }
}

// Setting the default container engine as singularity
params.containerEngine = "singularity"
// Conda shouldn't be used by default except when using conda-based profiles
params.use_conda = false


/*******************************************************************************************************
*************************************** Workflow Profiles **********************************************
********************************************************************************************************/

profiles {

    slurm {  
        process.executor       = 'slurm'
    }

    conda {   
        conda.enabled          = true
        params.use_conda       = true
        conda.channels         = 'conda-forge,bioconda' 
        conda.cacheDir         = 'conda/' // location of conda environments
        conda.createTimeout    = '2h'              
    }

    mamba {
        conda.enabled          = true
        conda.useMamba         = true
        conda.channels         = 'conda-forge,bioconda'
        params.use_conda       = true
        conda.cacheDir         = 'conda/' // location of conda environments
        conda.createTimeout    = '2h'
    }

    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true

        /* Uncomment the line below  if you'd like to set the cache directory here,
         as setting it here takes precedence over setting the nextflow variable
        NXF_SINGULARITY_CACHEDIR=singularity/ in your run script
         */
        //singularity.cacheDir   = "singularity/" // location of singularity images
        params.containerEngine = "singularity"
    }

    docker {
        docker.enabled         = true
        docker.runOptions      = '-u $(id -u):$(id -g)'
        params.containerEngine = "docker"
    }

}

// Maximum number of jobs to submit in parallel
executor.queueSize = 20


/******************************************************************************************************************
***************** Tune process specific resources (cpu, container, memory etc.) ***********************************
*******************************************************************************************************************/

process {

    //******************* Default process settings ************************//
    errorStrategy = { params.errorStrategy ? params.errorStrategy : "ignore" } 
    maxRetries = 2
    cpus = 2
    memory = "5 GB"
    cache = 'lenient'
  //debug = true  // uncomment to see what is being emitted to the standard output

//************************* Accession runsheet and input file retrieval  **************************************//
    withName: 'GET_ACCESSIONS|FETCH_ISA|ISA_TO_RUNSHEET|SELECT_RUNSHEET' {
                  conda = {params.conda_dp_tools ? params.conda_dp_tools : "${projectDir}/envs/dp_tools.yaml"}
                  container = "quay.io/nasa_genelab/dp_tools:1.3.8"
            }

//********************************** Raw read staging ********************************************//
    withName: COPY_READS {
                  maxRetries = 3
                  errorStrategy = 'retry'
            }
    withName: 'COPY_REMOTE_READS|DOWNLOAD_DATABASE' {
                  conda = {params.conda_wget ? params.conda_wget : "${projectDir}/envs/wget.yaml"}
                  container = "quay.io/nasa_genelab/wget:1.21.4"
                  maxRetries = 3
                  maxForks = 5
                  errorStrategy = 'retry'
    }

//********************************** Read quality control and assessment ********************************************//
    withLabel: fastqc {
                  conda = {params.conda_fastqc ? params.conda_fastqc : "${projectDir}/envs/fastqc.yaml"}
                  container = "quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0"
            }

    withLabel: zip {
                  conda = {params.conda_zip ? params.conda_zip : "${projectDir}/envs/zip.yaml"}
                  container = "quay.io/nasa_genelab/zip:3.0"
           }

    withName: "RAW_MULTIQC|FILTERED_MULTIQC" {
                  conda = {params.conda_multiqc ? params.conda_multiqc : "${projectDir}/envs/multiqc.yaml"}
                  container = "quay.io/biocontainers/multiqc:1.27.1--pyhdfd78af_0"
            }

    withName: "CUTADAPT|COMBINE_CUTADAPT_LOGS_AND_SUMMARIZE" {
                  conda = {params.conda_cutadapt ?  params.conda_cutadapt : "${projectDir}/envs/cutadapt.yaml"}
                  container = "quay.io/biocontainers/cutadapt:5.2--py39hbcbf7aa_0"
                  memory = "10 GB"
            } 

//********************************** ASV table creation ********************************************//
    withName: "RUN_DADA2" {
                  conda = {params.conda_R ?  params.conda_R : "${projectDir}/envs/R.yaml"}
                  container = "quay.io/nasa_genelab/r-dada-decipher-biomformat:1.2"
                  memory = "20 GB"
                  cpus = 10
          }

//********************************** Diversity and differential abundance testing ********************************************//
    withLabel: visualization {
                  conda = {params.conda_diversity ? params.conda_diversity : "${projectDir}/envs/diversity.yaml"}
                  container = "quay.io/nasa_genelab/r-diversity:1.2"
                  cpus = 5
                  errorStrategy = { task.exitStatus in [140, Integer.MAX_VALUE] ? 'retry' : 'terminate' }
                  maxRetries = 4
                  memory = { task.attempt == 1 ? 10.GB : 32.GB * (task.attempt - 1) }
           }

}


/*****************************************************************************
********************** Workflow Resource Usage Capturing *********************
******************************************************************************/

// Adapted from : https://github.com/nf-core/rnaseq/blob/master/nextflow.config
def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.outdir}/Resource_Usage/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/Resource_Usage/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/Resource_Usage/execution_trace_${trace_timestamp}.txt"
}



/******************************************************************************
**************************** Workflow Metadata ********************************
*******************************************************************************/

manifest {
    author = 'Olabiyi Aderemi Obayomi, Mike D. Lee'
    homePage = 'https://github.com/nasa/GeneLab_Data_Processing/blob/master/Amplicon/'
    description = 'Amplicon Illumina workflow for pipeline document GL-DPPD-7104-C'
    mainScript = 'main.nf'
    defaultBranch = 'main'
    nextflowVersion = '>=25.10.3'
    version = '1.0.10'
}
